* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid yellow; */
}

.bold {
  font-weight: bold;
}

body {
  /* background-color: #f0eee9; */
  background-color: #1e1e1e;
}
.title {
  color: #f0eee9;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.main-container {
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 540px auto;
}

.buttons-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sorting-algorithms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.array-length-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.array-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.array-container {
  height: 500px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-items: end;
  border: 2px solid black;
  margin: 0 10px;
}
.array-bar {
  background-color: rgb(3, 125, 125);
  flex: 1;
  margin: 0 1px;
  text-align: center;
}

.display-name {
  font-size: 24px;
  font-weight: bold;
}

.complexity-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time {
  height: 160px;
  width: calc(100% - 40px);
  margin-left: 40px;
}

.time-complexity,
.space-complexity {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.space-complexity {
  height: 50%;
}

.space {
  width: calc(100% - 40px);
  height: 110px;
  margin-left: 40px;
}

.code-div {
  height: max-content;
  width: calc(100% - 20px);
}

.code-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.code-box-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.code-box-tab-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-box-tab-options:not(.code-box-tab-options:last-of-type) {
  border-right: 2px solid black;
}

.code-tab-btn {
  background-color: #3c3f41;
  color: #f0eee9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.active-code-tab-btn {
  background-color: #f0eee9;
  color: #3c3f41;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.code-box-codes {
  height: max-content;
  min-height: 250px;
  background-color: #282c34;
  padding: 10px;
}

hr {
  width: 160px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.code-keyword {
  color: #c792ea;
  font-weight: 600;
}

.code-function {
  color: #82aaff;
}

.code-variable {
  color: #f78c6c;
}

.code-number {
  color: #f78c6c;
}

.code-string {
  color: #c3e88d;
}

.code-operator {
  color: #89ddff;
}

.code-punc {
  color: #ffffff;
}

.code-comment {
  color: #616161;
  font-style: italic;
}

.code-builtin {
  color: #ffcb6b;
}
.code-default {
  color: #ffffff;
}

@media (max-width: 768px) {
  .main-container {
    /* height: auto; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 320px auto auto auto;
    height: auto;
    overflow-y: hidden;
  }

  .buttons-container {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .buttons-container-inner-div {
    display: grid;
    grid-template-columns: 1fr 6px 2fr;
    grid-template-rows: 20px auto;
    flex-direction: row;
    justify-content: center;
  }

  .controls {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  input[type="range"] {
    width: 80% !important;
  }

  .sorting-algorithms-label {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .sorting-algorithms {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .buttons-container button {
    width: 100px !important;
    padding: 2px !important;
  }
  hr {
    /* display: none; */
    width: 2px;
    height: 160px;
  }
  .buttons-container hr {
    display: none;
  }
  .buttons-container-inner-div hr {
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .array-wrapper {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .array-container {
    height: 290px;
  }

  .complexity-div {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 20px;
  }
  .code-div {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0 10px;
  }
  .code-box-tab,
  .code-box-codes {
    overflow-x: scroll;
  }
}
