* {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-container {
  height: calc(100vh - 64px);
  width: auto;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 540px auto;
  /* overflow: hidden; */
}

.buttons-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sorting-algorithms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.array-length-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.array-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.array-container {
  height: 500px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  border: 2px solid black;
}
.array-bar {
  flex: 1;
  background-color: gray;
  margin: 0 1px;
  text-align: center;
}

.display-name {
  font-size: 24px;
  font-weight: bold;
}

.complexity-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time {
  height: 60%;
  width: 100%;
  margin-left: 40px;
}

.time-complexity,
.space-complexity {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.space-complexity {
  height: 50%;
}

.space {
  width: 100%;
  height: 40%;
  margin-left: 40px;
}

/* .code-div {
} */

.code-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.code-box-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.code-box-tab-options {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-box-codes {
  background-color: #1e1e1e;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

hr {
  width: 120px;
}

.code-keyword {
  color: #c792ea;
  font-weight: 600;
}

.code-function {
  color: #82aaff;
}

.code-variable {
  color: #f78c6c;
}

.code-number {
  color: #f78c6c;
}

.code-string {
  color: #c3e88d;
}

.code-operator {
  color: #89ddff;
}

.code-punc {
  color: #ffffff;
}

.code-comment {
  color: #616161;
  font-style: italic;
}

.code-builtin {
  color: #ffcb6b; /* gold */
}
.code-default {
  color: #ffffff; /* default white */
}
