.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-container {
  height: calc(100vh - 64px);
  width: auto;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 540px auto;
  /* overflow: hidden; */
}

.buttons-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sorting-algorithms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.array-length-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.array-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.array-container {
  height: 500px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  border: 2px solid black;
}
.array-bar {
  flex: 1;
  background-color: gray;
  margin: 0 1px;
  text-align: center;
}

.display-name {
  font-size: 24px;
  font-weight: bold;
}

.complexity-div {
  background-color: blue;
}

.code-div {
  background-color: red;
}

hr {
  width: 120px;
}
